header {
    background: rgba(13, 13, 13, 0.9);
    backdrop-filter: blur(45);
    box-shadow: 0px 4px 2.3px 0px rgba(0, 0, 0, 0.06);
    border-bottom: 0.75px solid rgba(88, 88, 88, 1)
}

footer {
    background: rgba(14, 14, 14, 1);

    .fake-border {
        background: radial-gradient(circle, #FFFFFF 0%, rgba(153, 153, 153, 0.25) 100%);
    }
}