<div class="flex flex-col min-h-screen">
  <!-- Navigation Bar -->
  <header class="w-full text-white fixed">
    <nav class="container mx-auto p-4 flex justify-between items-center h-16">
      <a href="/">
        <img src="header_logo.png" class="w-fit h-10" />
      </a>
      <div class="space-x-4 text-sm">
        <a href="#" class="text-white font-semibold py-2 px-4">About Us</a>
        <a href="#" class="text-white font-semibold py-2 px-4">Games</a>
        <a href="#" class="text-white font-semibold py-2 px-4">Team</a>
      </div>
    </nav>
  </header>

  <!-- Main Content -->
  <main class="flex-grow container mx-auto p-4">
  </main>

  <!-- Footer -->
  <footer class="text-white text-lg content-center h-72 flex-wrap basis-full">
    <div class="absolute w-full h-px fake-border"></div>
    <div class="container mx-auto p-8 flex justify-evenly">
      <!-- Left Side: Logo and Copyright -->
      <div class="w-fit flex flex-col items-center justify-center">
        <img src="logo.png" alt="Logo" class="mb-4 mx-auto w-32 h-auto object-contain">
        <p class="opacity-25">Softsplit &copy; 2024</p>
      </div>
      <!-- Right Side: Columns -->
      <div class="w-3/6 flex justify-between">
        <!-- Column 1: Studio -->
        <div class="flex flex-col items-center gap-1">
          <h3 class="font-bold mb-2 opacity-50">Studio</h3>
          <ul class="text-center">
            <li><a href="#">Games</a></li>
            <li><a href="#">Team</a></li>
            <li><a href="#">Legal</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
        <!-- Column 2: Games -->
        <div class="flex flex-col items-center gap-1">
          <h3 class="font-bold mb-2 opacity-50">Games</h3>
          <ul class="text-center">
            <li><a href="#">Sandbox Classic</a></li>
            <li><a href="#">S&amp;box Donut</a></li>
          </ul>
        </div>
        <!-- Column 3: Socials -->
        <div class="flex flex-col items-center gap-1">
          <h3 class="font-bold mb-2 opacity-50">Socials</h3>
          <app-social-buttons />
        </div>
      </div>
    </div>
  </footer>
</div>

<router-outlet />